#identity-box.extensionPage {
    display: none !important;
}

/* Round the search bar edges */
#urlbar,
#urlbar-background,
#urlbar[focused],
#urlbar-container {
    border-radius: 10px !important;
    overflow: hidden;
}

/* Round the tabs */
.tabbrowser-tab,
:is(.tabbrowser-tab[selected] .tab-background),
.tab-background {
    border-radius: 10px !important;
}

/* Less rounding for inactive tabs */
.tabbrowser-tab:not([selected]) .tab-background {
    border-radius: 8px !important;
}

/* Reduce extra padding in the tab bar */
#TabsToolbar {
    padding: 0 !important;
}

/* Reduce padding inside tabs */
.tabbrowser-tab {
    padding: 0 2px !important;
}

/* Reduce padding around the tab label (text) */
.tabbrowser-tab .tab-label-container {
    padding: 0 0px !important;
}

/* Round the identity box */
#identity-box {
    border-radius: 8px !important;
    overflow: hidden !important;
}

/* Adjust tab height and spacing */
#TabsToolbar .tabbrowser-tab {
    padding-block: 1px !important;
    min-height: 20px !important;
}

.tab-background {
    margin-block: 0px !important;
}

